
<div class="mainCont">
    <div class="card text-black" >
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">About Munchies</h4>
          <hr align="left" style="text-align: center;background-color: white;">
          <p class="card-text" style="text-align: center;">Munchies is a food delivery service that brings great food from local restaurants, straight to the doorsteps of hungry customers.</p>
        </div>
      </div>
      <hr style="background-color: turquoise;">
      <div class="container">
          <div class="row">
            <div class="card border-primary mb-3 m-2 p-2 col-md-3" style="max-width: 20rem;">
                <div class="card-body">
                    <i class="far fa-clock fa-4x"></i><br><br>
                  <h4 class="card-title">Order Anytime</h4>
                </div>
              </div>
              <div class="card border-primary mb-3 m-2 p-2 col-md-3" style="max-width: 20rem;">
                <div class="card-body">
                    <i class="fas fa-utensils fa-4x"></i><br><br>
                  <h4 class="card-title">Cooked by friendly chefs</h4>
                </div>
              </div>
              <div class="card border-primary mb-3 m-2 p-2 col-md-3" style="max-width: 20rem;">
                <div class="card-body">
                    <i class="fas fa-motorcycle fa-4x"></i><br><br>
                  <h4 class="card-title">Fast Deliveries</h4>
                </div>
              </div>
          </div>
      </div><br>
      <div style="margin-left: 10%;">
      <h4 class="card-title">How it works :</h4>
      <p>
        1.	Open the munchies website and select “Food” <br>
        2.	Enter your delivery address<br>
        3.	Select your preferred restaurant<br>
        4.	Select a meal and add to cart<br>
        5.	Complete the order and get ready to enjoy your meal</p>
    </div>
</div>
