<div class="mainCont">
    <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">Let's get started!</h4>
          <hr style="background-color: white; text-align: center;">
          <p style="text-align: center;" class="card-text">Please enter the details from below.</p>
          <div class="container">
              <div class="row">
                <div class="card text-dark bg-light mb-3 justify-content-center col-md-12">
                    <div class="card-body">
                      <h4 class="card-title">Customer details</h4>
                      <hr style="background-color: darkslategray">

                      <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Full Name</label>
                        <input type="text" class="form-control" placeholder="e.g- Joyah Binti Husin" id="inputDefault" name="FName">
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Email</label>
                        <input type="email" class="form-control" placeholder="xxxx@gmail.com" id="inputDefault" name="Email">
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Password</label>
                        <input type="password" class="form-control" placeholder="" id="inputDefault" name="Password">
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Phone Number</label>
                        <input type="text" class="form-control" placeholder="e.g- 0198887676" id="inputDefault" name="PhoneNumber">
                      </div>
                      <br>
                      <button type="submit" class="btn btn-success float-right">Next</button>


                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>